name: Build My IPA

on:
  workflow_dispatch: # 这是一个开关，让你能手动启动编译

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: 1. 拉取代码
        uses: actions/checkout@v4

      - name: 2. 安装 Flutter 环境
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - name: 3. 下载插件包
        run: flutter pub get

      - name: 4. 编译 iOS 工程 (不签名)
        run: flutter build ios --release --no-codesign

      - name: 5. 打包成 IPA 格式
        run: |
          mkdir Payload
          cp -r build/ios/iphoneos/Runner.app Payload/
          zip -r Runner.ipa Payload

      - name: 6. 上传安装包
        uses: actions/upload-artifact@v4
        with:
          name: My-iOS-App # 下载时的文件名
          path: Runner.ipa
