name: Build Loftify for TrollStore

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: 1. 拉取代码
        uses: actions/checkout@v4

      - name: 2. 安装最新版 Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - name: 3. 暴力破解依赖冲突
        run: |
          # 1. 强制修改主项目的 intl 版本
          sed -i '' 's/intl: .*/intl: ^0.20.2/g' pubspec.yaml
          
          # 2. 关键手术：直接修改那个“搞事情”的插件内部配置
          # 这个插件在本地 awesome_chewie 目录下，我们强行把它要求的 0.19 改成 0.20
          if [ -f "awesome_chewie/pubspec.yaml" ]; then
            sed -i '' 's/intl: .*/intl: ^0.20.2/g' awesome_chewie/pubspec.yaml
          fi

          # 3. 强制获取依赖
          flutter pub get
          
      - name: 4. 安装 iOS 原生依赖
        run: |
          cd ios
          pod install --repo-update
          cd ..

      - name: 5. 编译 iOS 工程 (免签名)
        run: |
          flutter build ios --release --no-codesign

      - name: 6. 封装为巨魔 IPA
        run: |
          mkdir -p Payload
          cp -r build/ios/iphoneos/Runner.app Payload/
          zip -r Loftify_TrollStore.ipa Payload

      - name: 7. 上传安装包
        uses: actions/upload-artifact@v4
        with:
          name: Loftify-Package
          path: Loftify_TrollStore.ipa
